@import url(http://fonts.googleapis.com/css?family=Alegreya+SC);
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Alegreya', serif;
}

p {
  font-size: x-large;
}

.demo {
  padding: 2px 12px;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.container {
  width: 600px;
  margin: 3em auto;
}

li {
  list-style-type: none;
  display: block;
  width: 40%;
  float: left;
  margin-right: 1em;
  margin-bottom: 0.33em;
}

.prefooter {
  clear: both;
  height: 1px;
  display: block;
}

h2,h3,h4,h5 {
  font-family: 'Alegreya SC', serif;
  text-transform: lowercase;
  color: #222;
  width: 100%;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

h3 {
  border-bottom-color: #F0aCaC;
  color: #F03C3C;
}

.code {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: #F03C3C;
}
